<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALL NOTES</title>
    <link rel="stylesheet" href="/styles.css ">
</head>
<body>
    <form action="/notes" method="GET">
        <label for="searchInput"></label>
        <input type="text" name="searchTerm" placeholder="Search Notes" id="searchInput">
        <button type="submit">Search</button>
    </form>
    <h1> <%= theTitle %> </h1>
    <ul>
        <% notes.forEach(i => { %>
            <li>
                <% const id = i.id %>
                <h2><%= i.title %></h2>
                <p><%= i.content %></p>
                <a href="/notes/<%= id%>">View Note</a>
            </li>
        <% }) %>
    </ul>
    
</body>
</html>