<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> NOTE <%= note.id %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h2><%= note.title %></h2>
    <p><%= note.content %></p>
    <form action="/notes/<%= note.id %>/delete" method="POST">
        <button type="submit">Delete</button>
    </form>
</body>
</html>