body {
    font-family: Arial, sans-serif;
    background-color: #affddf;
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px auto;
}